name: DPIP

on:
  push:
    branches: ["Release"]
  pull_request:
    branches: ["Release"]

jobs:
  build-app:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      # Setup Environment

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: "3.19.3"

      - name: Flutter get
        run: flutter pub get --no-example

      # Build

      - name: Prebuild
        run: dart run build_runner build

      - name: Build Android application (apk, aab)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          flutter build apk
          flutter build appbundle

      - name: Build iOS application (app)
        if: matrix.platform == 'macos-latest'
        run: flutter build ios --release --no-codesign

      # Upload Artifacts

      - name: Upload (apk)
        if: matrix.platform == 'ubuntu-latest'
        uses: actions/upload-artifact@master
        with:
          name: "DPIP.apk"
          path: build/app/outputs/flutter-apk/*.apk

      - name: Upload (aab)
        if: matrix.platform == 'ubuntu-latest'
        uses: actions/upload-artifact@master
        with:
          name: "DPIP.aab"
          path: build/app/outputs/bundle/release/*.aab

      - name: Upload (app)
        if: matrix.platform == 'macos-latest'
        uses: actions/upload-artifact@master
        with:
          name: "DPIP.app"
          path: /Users/runner/work/DPIP/DPIP/build/ios/iphoneos/Runner.app
